@charset "utf-8";

// Settings
$header-font-family: 'M PLUS Rounded 1c', sans-serif;
$header-font-weight: 700;
$body-font-family: 'M PLUS Rounded 1c', sans-serif;


@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,700');

@import 'foundation-sites/assets/foundation';
@import 'master';
@import 'cv';
@import 'portfolio';
@import 'micro-blog';
@import 'contact';
